section {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 20px;
}

.judul {
    margin-top: 60px;
    width: 100%;
    height: fit-content;
    grid-column: span 2 ;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 4px 2px rgba(0,0,0,0.6);
}

.forum {
    background-color: rgba(250,250,250,.8);
    border-radius: 10px;
    border: 5px solid rgb(0,0,0);
    width: 60vw;
    height: 100vh;
    margin: 0px 0 50px 30px;
    box-shadow: 6px 8px 18px 8px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 8px 18px 8px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 18px 8px rgba(0,0,0,0.75);
    /* padding-top: 20px; */
  grid-template-columns: 1fr;
  grid-template-rows: auto;
    grid-auto-flow: row;
}

.forum-made {
    background-color: blue;
    width: 30vw;
    height: 50px;
    margin: 0px 0 50px 0px;
    grid-column: 2;
}

/* todo forum card */

.forum-card {
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 90%;
    margin: 20px 20px 0px 20px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 4px solid black;
    border-radius: 10px;
}

.forum-card p {
    grid-column: 1;
    grid-row: 1;
    text-align: justify;
    font-size: 0.8rem;
}

.replay {
    display: flex;
    justify-content: end;
    padding-left: 20px;
    
}

.replay a {
    color: black;
    font-size: 1.3rem;
    margin-right: 20px;
    background-color: transparent;
    transition: 300ms;
}

.replay a:hover {
    color: white;
}
